# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant::Config.run do |config|
  config.vm.box = "precise64"
  config.vm.box_url = "http://files.vagrantup.com/precise64.box"

  config.vm.network :hostonly, "192.168.33.55"
  # config.vm.network :bridged

  config.vm.forward_port 80, 8080

  config.vm.share_folder("v-root", "/vagrant", "../", :nfs => true)

  #config.vm.provision :puppet, :options => "--verbose --debug" do |puppet|
  config.vm.provision :puppet do |puppet|
    puppet.manifests_path = "etc/puppet/manifests"
    puppet.module_path = "etc/puppet/modules"
    puppet.manifest_file  = "site.pp"
  end

end